<app-nav-bar></app-nav-bar>
<div class="py-10 bg-gray-900 h-screen"  >
    <h1 class="flex justify-center text-2xl mb-4 text-white   font-bold">View Vehicle Details</h1>
<div class=" flex justify-center ">
    <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/>
    </svg>
    <select [disabled]="!recordValidator" (change)="getVehicleDetails($event)" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
        <option hidden >Select Policy Number </option>
        <option *ngFor="let policy of policyData" [value]="policy.policynumber">{{ policy.policynumber}}</option>
    </select>

	
</div>
<div class="flex justify-center py-2"><p *ngIf="!recordValidator" class="text-gray-400">No Records Available</p></div>


<div *ngIf="selectedPolicy!=null" class="container p-2 ml-48 sm:p-4 dark:text-gray-100">
  <div class="flex"> <h2 class="mb-4 text-2xl font-semibold leadi" style="white-space: nowrap;">
        Policy Number: {{vehicleData.policyNumber}} 
       
    </h2>
     <div class=" flex justify-center mt-2 ml-2 hover:text-red-500" > <svg (click)="openConfirmation()"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
    </svg>
</div>
  </div>
    <div class="flex justify-center ml-6">
	<div class="overflow-x-auto w-1/2">
		<table class="w-6 p-6 text-xs text-left whitespace-nowrap">
			<colgroup>
				<col class="w-5">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col class="w-5">
			</colgroup>
			
			<tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">Vehicle Type</td>
					<td class="px-3 text-lg   py-2">
						<p>{{vehicleData.vehicleType}}</p>
					</td>
					
				</tr>
		
			</tbody>
			<tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        RTO Name
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.rtoname}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        City
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.city}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        State
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.state}}</p>
					</td>
				</tr>
			</tbody>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Registration Number
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.registrationNumber}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Date Of Purchase
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.dateOfPurchase}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Brand
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.brand}}</p>
					</td>
				</tr>
			</tbody>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Model Name                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.modelname}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Variant                  </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.variant}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Body Type                  </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.bodyType}}</p>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>



    <div class="overflow-x-auto w-1/2">
		<table class="w-6 p-6 text-xs text-left whitespace-nowrap">
			<colgroup>
				<col class="w-5">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col class="w-5">
			</colgroup>
			
			<tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">Fuel Type</td>
					<td class="px-3 text-lg   py-2">
						<p>{{vehicleData.fuelType}}</p>
					</td>
					
				</tr>
		
			</tbody>
			<tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Transmission Type
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.transmissionType}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Color
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.color| titlecase}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Chasis Number
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.chasisNumber}}</p>
					</td>
				</tr>
			</tbody>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Engine Number
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.engineNumber}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Cubic Capacity
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.cubicCapacity}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Seating Capacity
                    </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.seatingCapacity}}</p>
					</td>
				</tr>
			</tbody>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Year Of Manufacture                   </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.yearOfManufacture}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        IDV                  </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.idv}}</p>
					</td>
				</tr>
			</tbody>

            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
				<tr>
					<td class="px-3 text-2xl font-medium dark:text-gray-400">
                        Ex-Showroom Price                  </td>
					<td class="px-3 text-lg text py-2">
						<p>{{vehicleData.exShowroomPrice}}</p>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
</div>
</div>
<div  *ngIf="selectedPolicy==null" class="h-96 flex justify-center items-center " > 
    <h3 class="text-gray-400 ">No Policy Number Selected!</h3>
</div>
</div>
