<header class="p-4 dark:bg-gray-800 dark:text-gray-100">
	<div class="container flex justify-between h-16 mx-auto">
		<a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class="flex items-center p-2 text-violet-400">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
		</a>
		<ul *ngIf="userActive!" class="items-stretch hidden space-x-3 md:flex">
			
			<li  class="flex">
				<a rel="noopener noreferrer" [routerLink]="['/viewVehicle']"  class="hover:pointer-events-auto po flex items-center px-4 -mb-1 border-b-2 dark:border-transparent dark:text-violet-400 dark:border-violet-400"> View Vehicle</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" [routerLink]="['/']"  (click)="openConfirmation()" class="flex items-center px-4 -mb-1 border-b-2 dark:border-transparent  dark:text-violet-400 dark:border-violet-400">Logout</a>
			</li>
		</ul>
		<button class="flex justify-end p-4 md:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>
</header>